name: flutter_timetable
description: Displays a timetable for dates and times on items in a list.
version: 1.1.2
repository: https://github.com/gettuned/flutter_timetable

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: ">=3.35.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
